'body':
  'cmd-x': 'command-palette:toggle'

'body.platform-darwin':
  'cmd-x': 'atomic-emacs:cut'
  'cmd-c': 'atomic-emacs:copy'
  'cmd-shift-v': 'core:paste'

'atom-workspace atom-text-editor':
  # Navigation
  'cmd-b': 'atomic-emacs:backward-word'
  'cmd-left': 'atomic-emacs:backward-word'
  'cmd-f': 'atomic-emacs:forward-word'
  'cmd-right': 'atomic-emacs:forward-word'
  'cmd-[': 'atomic-emacs:backward-paragraph'
  'cmd-]': 'atomic-emacs:forward-paragraph'
  'cmd-m': 'atomic-emacs:back-to-indentation'
  'cmd-<': 'core:move-to-top'
  'cmd->': 'core:move-to-bottom'
  'ctrl-a': 'editor:move-to-first-character-of-line'

  # Killing & Yanking
  'cmd-backspace': 'atomic-emacs:backward-kill-word'
  'cmd-delete': 'atomic-emacs:backward-kill-word'
  'cmd-d': 'atomic-emacs:kill-word'
  #'cmd-w': 'atomic-emacs:copy-region-as-kill'
  # 'cmd-shift-v': 'atomic-emacs:yank-pop'
  # 'cmd-shift-y': 'atomic-emacs:yank-shift'

  # Editing
  'cmd-\\': 'atomic-emacs:delete-horizontal-space'
  'cmd-^': 'atomic-emacs:delete-indentation'
  'cmd-space': 'atomic-emacs:just-one-space'
  'cmd-t': 'atomic-emacs:transpose-words'
  'cmd-l': 'atomic-emacs:downcase-word-or-region'
  'cmd-u': 'atomic-emacs:upcase-word-or-region'
  #'cmd-c': 'atomic-emacs:capitalize-word-or-region'
  'cmd-/': 'autocomplete-plus:activate'
  'cmd-q': 'autoflow:reflow-selection'
  'cmd-;': 'editor:toggle-line-comments'

  # Marking & Selecting

  # UI
  'cmd-.': 'symbols-view:toggle-file-symbols'
  'ctrl-s': 'incremental-search:forward'
  'ctrl-r': 'incremental-search:backward'

  # Scrolling
  'cmd-v': 'atomic-emacs:scroll-down'

'.platform-linux atom-workspace, .platform-win32 atom-workspace':
  'cmd-g g': 'go-to-line:toggle'
  'cmd-g cmd-g': 'go-to-line:toggle'

'.platform-darwin':
  'cmd-g g': 'go-to-line:toggle'
  'cmd-g cmd-g': 'go-to-line:toggle'

