'body':
  'alt-s': 'core:save'
  'alt-z': 'core:undo'
  'ctrl--': 'core:undo'
  'alt-a': 'core:select-all'
  'alt-c': 'core:copy'
  'shift-alt-v': 'core:paste'
  'ctrl-g': 'core:cancel'
  'alt-x': 'core:cut'
  'shift-alt-Z': 'core:redo'
  'alt-g alt-g': 'go-to-line:toggle'


'.platform-darwin':
  'ctrl-x ctrl-f': 'fuzzy-finder:toggle-file-finder'

'atom-text-editor':
  'alt-left': 'editor:move-to-first-character-of-line'
  'alt-right': 'editor:move-to-end-of-screen-line'
  'shift-alt-left': 'editor:select-to-first-character-of-line'
  'shift-alt-right': 'editor:select-to-end-of-line'
  'shift-cmd-left': 'editor:select-to-beginning-of-word'
  'shift-cmd-right': 'editor:select-to-end-of-word'
  'cmd-left': 'editor:move-to-beginning-of-word'
  'cmd-right': 'editor:move-to-end-of-word'
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'ctrl-y': 'core:paste'
  'alt-x': 'core:cut'

'.workspace':
  'cmd-shift-c': 'github:commit'
  'alt-shift-g': 'github:toggle-git-tab'

'atom-workspace atom-text-editor.emacs-plus:not([mini])':
  'ctrl-alt-\\': 'editor:auto-indent'

'.platform-darwin atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-s': 'find-and-replace:find-next'


